doctype html
html(lang="eb")
   head
      meta(charset="UTF-8")
      title learning SCSS
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")
   body

      main#main-content

         .box1
         .box2


