doctype html
html(lang="eb")
   head
      meta(charset="UTF-8")
      title learning SCSS
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")
   body

      main#main-content

         .buttons-wrapper
            button.btn.btn-lg.btn-primary(type="button") primary large
            button.btn.btn-md.btn-primary(type="button") primary medium
            button.btn.btn-sm.btn-primary(type="button") primary small

            br
            br

            button.btn.btn-md.btn-primary(type="button") primary
            button.btn.btn-md.btn-success(type="button") success
            button.btn.btn-md.btn-danger(type="button") danger
            button.btn.btn-md.btn-warning(type="button") warning
            button.btn.btn-md.btn-default(type="button") default

            br
            br

            button.btn.btn-md.btn-primary.btn-outline(type="button") outline primary
            button.btn.btn-md.btn-success.btn-outline(type="button") outline success
            button.btn.btn-md.btn-danger.btn-outline(type="button") outline danger
            button.btn.btn-md.btn-warning.btn-outline(type="button") outline warning
            button.btn.btn-md.btn-default.btn-outline(type="button") outline default

