doctype html
html(lang="eb")
   head
      meta(charset="UTF-8")
      title learning SCSS
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")
   body

      main#main-content

         ul.files
            li.icon-pdf
            li.icon-doc
            li.icon-xls
            li.icon-jpg
            li.icon-psd


