doctype html
html(lang="eb")
   head
      meta(charset="UTF-8")
      title learning SCSS
      link(href="./stylesheets/style.css" rel="stylesheet")
   body

      main#main-content

         h1.red-text this text is red
         h2.blue-text this text is blue
         h3.green-text this text is green

         hr
         br

         article.post
            header.post-header
               h5.title
                  a this is post title
            figure.img-wrapper
               img(src="https://picsum.photos/400/300" alt="post image")
            .content
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum et laudantium saepe. Accusamus alias animi dolorum eius eligendi enim est eveniet impedit nihil, non numquam praesentium quia temporibus, voluptas?
            footer.post-details
               p date:
               p author:


