doctype html
html(lang="en" dir="rtl")
   head
      meta(charset="UTF-8")
      title learning SCSS
      link(href="./stylesheets/style.css" rel="stylesheet")
      link(href="../node_modules/normalize.css/normalize.css" rel="stylesheet")
   body

      main#main-content

         h1.site-title this is a test
         p.site-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio ea maxime necessitatibus nesciunt, odio officiis voluptas? At corporis error, facilis hic natus quis ratione! At blanditiis in mollitia nostrum?

         div

         button.btn.btn-lg.btn-success.test-button button success




