doctype html
html(lang="eb")
   head
      meta(charset="UTF-8")
      title learning PUG
      link(href="")
   body

      include header

      main#main-content
         block main

      include footer