extends partials/_layout
block main
   .container
      .row.my-5
         .col-6.mx-auto
            #carouselExample.carousel.slide
               .carousel-inner
                  .carousel-item.active
                     img.d-block.w-100(src='https://picsum.photos/800/500' alt='...')
                  .carousel-item
                     img.d-block.w-100(src='https://picsum.photos/800/500' alt='...')
                  .carousel-item
                     img.d-block.w-100(src='https://picsum.photos/800/500' alt='...')
               button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.visually-hidden Previous
               button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.visually-hidden Next


