$primary_color: red;
$secondary_color: blue;
$tertiary_color: green;
$gray: #CCC;
$gap: 12px;
$radius: 8px;

$primaryColor: blue;
$successColor: green;
$dangerColor: darkred;
$warningColor: orange;
$defaultColor: #EEE;
