.btn {
  border: 1px solid;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.btn.btn-sm {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.btn.btn-md {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
}
.btn.btn-lg {
  padding: 24px 36px;
  font-size: 18px;
  font-weight: 700;
}
.btn.btn-outline {
  background: transparent !important;
}
.btn.btn-outline.btn-primary {
  color: blue;
}
.btn.btn-outline.btn-primary:hover, .btn.btn-outline.btn-primary:focus {
  background: #0000cc !important;
  color: #FFF;
}
.btn.btn-outline.btn-success {
  color: green;
}
.btn.btn-outline.btn-success:hover, .btn.btn-outline.btn-success:focus {
  background: #004d00 !important;
  color: #FFF;
}
.btn.btn-outline.btn-danger {
  color: darkred;
}
.btn.btn-outline.btn-danger:hover, .btn.btn-outline.btn-danger:focus {
  background: #580000 !important;
  color: #FFF;
}
.btn.btn-outline.btn-warning {
  color: orange;
}
.btn.btn-outline.btn-warning:hover, .btn.btn-outline.btn-warning:focus {
  background: #cc8400 !important;
  color: #FFF;
}
.btn.btn-outline.btn-default {
  color: #333;
}
.btn.btn-outline.btn-default:hover, .btn.btn-outline.btn-default:focus {
  background: #d5d5d5 !important;
}
.btn.btn-primary {
  background: blue;
  border-color: #0000e6;
  color: #FFF;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #0000cc;
}
.btn.btn-success {
  background: green;
  border-color: #006700;
  color: #FFF;
}
.btn.btn-success:hover, .btn.btn-success:focus {
  background: #004d00;
}
.btn.btn-danger {
  background: darkred;
  border-color: #720000;
  color: #FFF;
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
  background: #580000;
}
.btn.btn-warning {
  background: orange;
  border-color: #e69500;
  color: #FFF;
}
.btn.btn-warning:hover, .btn.btn-warning:focus {
  background: #cc8400;
}
.btn.btn-default {
  background: #EEE;
  border-color: #c8c8c8;
  color: #333;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  background: #bbbbbb;
}

html, body {
  background: #FFF;
  font-size: 16px;
  line-height: 1.6;
  font-family: tahoma;
}

a {
  text-decoration: none;
}

.transition300, .btn {
  transition: all 300ms;
}

.transition500 {
  transition: all 500ms;
}

.post {
  border: 1px solid #999999;
  background: #fafafa;
  width: 400px;
  margin: 36px auto;
  /*padding: $gap*2;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.post .post-header {
  background: #d9d9d9;
  border-bottom: 1px solid #999999;
  padding: 12px;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.post .post-header .title {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.post .img-wrapper {
  margin: 0;
  padding: 12px;
}
.post .img-wrapper img {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.231372549);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.231372549);
  -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.231372549);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.231372549);
}
.post .content {
  padding: 12px;
  font-size: 1rem;
  text-align: justify;
}
.post .content p {
  margin: 0;
}
.post .post-details {
  border-top: 2px solid #CCC;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.box, .box2, .box1 {
  background: #CCC;
  border: 1px solid #999999;
  padding: 12px;
  margin: 36px auto;
  min-height: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.box1 {
  width: 300px;
}

.box2 {
  min-height: 200px;
  width: 500px;
}

.buttons-wrapper {
  margin: 50px;
}

.files {
  padding: 0;
  margin: 0;
  display: flex;
}
.files li {
  list-style-type: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.files li.icon-pdf {
  background-image: url("./images/icon-pdf.png");
}
.files li.icon-doc {
  background-image: url("./images/icon-doc.png");
}
.files li.icon-xls {
  background-image: url("./images/icon-xls.png");
}
.files li.icon-jpg {
  background-image: url("./images/icon-jpg.png");
}
.files li.icon-psd {
  background-image: url("./images/icon-psd.png");
}

/*# sourceMappingURL=style.css.map */
