@import "general";
@import "posts";


.box {
	background: $gray;
	border: 1px solid darken($gray, 20%);
	padding: $gap;
	margin: $gap*3 auto;
	min-height: 100px;
	@include brRadius();
}

.box1 {
	@extend .box;
	width: 300px;
}

.box2 {
	@extend .box;
	min-height: 200px;
	width: 500px;
}

.buttons-wrapper {
	margin: 50px;
}

$fileIcons: pdf doc xls jpg psd;

.files {
	padding: 0;
	margin: 0;
	display: flex;

	li {
		list-style-type: none;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	@each $icon in $fileIcons {
		li.icon-#{$icon} {
			background-image: url("./images/icon-#{$icon}.png");
		}
	}

} // .files